.card-component {
	height: 500px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.card-component .card-component-item {
	flex: 1;
	background-color: white;
	height: 450px;
}
