.AppBar {
	background-color: black !important;
	color: white !important;
}
.BrandLogo {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	height: 30px;
	margin: 0 20px;
}
.title {
	font-size: 18px;
	margin: 0;
}
ul {
	font-size: 14px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}
li {
	margin: 0 10px;
}
li:hover {
	cursor: pointer;
	color: #84cef1;
}
.k-button k-button-md k-rounded-md k-button-solid k-button-solid-base {
	padding: 0;
}
.k-badge-container {
	margin-right: 8px;
}
